* {
    margin: 0;
    padding: 0;
}

.App {
    height: 100%;
}
.main {
    height: 100%;
}

.header {
    padding: 0;
    background-color: #e3e3e3;
}
.top {
    height: 100%;
}

.top ul {
    width: 300px;
    height: 100%;
    /*background-color: #adfff5;*/
    float: right;
    display: flex;
    justify-content: space-around;
}

.top ul li {
    width: 30%;
    min-width: 80px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-person span, .top-close span {
    margin-left: 8%;
}

.sider {
    height: 100%;
    background-color: #d0fad9;
}

.sider .left, .sider .left .left-menu {
    height: 100%;
}
.sub {
    height: 100%;
}

.sub .content{
    margin: 20px 20px 0 20px;
}




.shop-selected,.shop-update,.shop-add{
     display: flex;
     justify-content: space-around;
 }
.shop-selected img, .shop-update img,
.shop-add .shop-add-img,
.shop-add .shop-add-img .ant-upload,
.shop-add .shop-add-img .ant-upload img{
    width: 200px;
    height: 200px;
}

.shop-selected ul,.shop-update ul,.shop-add ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.shop-selected ul li,.shop-update ul li,.shop-add ul li {
    list-style: none;
}
.shop-update ul li,.shop-add ul li{
   margin-bottom: 10px;
}
.shop-save,.shop-add-confirm{
    display: flex;
    justify-content: center;
}


.shop .shop-bread{
     margin: 0 0 20px 10px;
}
.shop .shop-top{
    /*background-color: darkmagenta;*/
    overflow: hidden;
    margin: 0 20px 20px 10px;
}

.shop .shop-top .shop-add-btn{
    float: left;
}
.shop .shop-top .shop-search{
    width: 300px;
    float: right;
}